/* global */

/* html { 
  background: url(../images/drew-beamer-unsplash.jpg) #16161a no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right;
  background-blend-mode: overlay;
} */

body {
  font-family: 'Anonymous Pro', 'Arial', sans-serif;
}

a {
  text-decoration: none;
  font-weight: bolder;
}

a:link {
  color: #7f5af0;
}

a:visited {
  color: #94a1b2;
}

a:focus {
  background: #7f5af0;
}

a:hover {
  text-decoration: line-through;
}

/* end-global ------------------------------------------- */

._greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin: 1%;
}

._button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

._org-details-container {
  width: 50%;
  padding: 1%;
  margin: 1% 0;
}

.button {
  height: 30px;
  padding: 4px 20px;
  margin: 0 5px;
  background: white;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 12px rgba(17, 12, 46, 0.15);
}

._section-1 {
  height: 100vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #7f5af0;
}

._section-2 {
  height: 100vh;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

._greeting {
  font-size: 4rem;
}

.answer-display {
  grid-area: answer-display;
  background-color: black;
  color: white;
  width: auto;
  height: 30px;
  padding: 20px;
  border: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear {
  grid-area: clear;
  background-color: lightgray;
}

.backspace {
  grid-area: backspace;
  background-color: lightgray;
}

.divide {
  grid-area: divide;
  background-color: orange;
}

.seven {
  grid-area: seven;
  background-color: lightgray;
}

.eight {
  grid-area: eight;
  background-color: lightgray;
}

.nine {
  grid-area: nine;
  background-color: lightgray;
}

.mult {
  grid-area: mult;
  background-color: orange;
}

.four {
  grid-area: four;
  background-color: lightgray;
}

.five {
  grid-area: five;
  background-color: lightgray;
}

.six {
  grid-area: six;
  background-color: lightgray;
}

.subtr {
  grid-area: subtr;
  background-color: orange;
}

.one {
  grid-area: one;
  background-color: lightgray;
}

.two {
  grid-area: two;
  background-color: lightgray;
}

.three {
  grid-area: three;
  background-color: lightgray;
}

.addit {
  grid-area: addit;
  background-color: orange;
}

.zil {
  grid-area: zil;
  background-color: lightgray;
}

.equals {
  grid-area: equals;
  background-color: orange;
}

.calculator_container {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "answer-display answer-display answer-display answer-display"
  "clear clear backspace divide"
  "seven eight nine mult"
  "four five six subtr"
  "one two three addit"
  "zil zil zil equals";
}

.calc-button {
  width: auto;
  height: 30px;
  padding: 20px;
  border: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-button:hover {
  opacity: 0.8;
}