.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.name {
  font-family: 'Arvo', serif;
  font-size: 12em;
  margin-bottom: 0;
}

.title {
  font-family: 'Cutive Mono', monospace;
  font-size: 4em;
  text-align: right;
  margin-top: 0;
}

.projects-headline {
  font-family: 'Arvo', serif;
  font-size: 12em;
  margin-bottom: 0;
  /* margin-top: 0; */
}

.projects-tagline {
  font-family: 'Cutive Mono', monospace;
  font-size: 4em;
  text-align: right;
  margin-top: 0;
}

.footer {
  font-family: 'Cutive Mono', monospace;
  width: 100%;
  margin: 30px 0 30px 0;
  text-align: center;
}

/* styling for links */
a {
  text-decoration: none;
  font-family: 'Cutive Mono', monospace;
}

a:hover {
  color: #e0337d;
  text-decoration: line-through;
}

/* styling for nav bar */
.nav {
  width: 100vw;
  position: fixed;
  top: 35px;
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline;
}

/* styling for footer social icons  */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  display: inline;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
    width: 50%;
    margin: auto 50px;
    min-height: 50%;
    background-color: white;
    padding: 2%;
}

.content-title {
    border-bottom: 3px solid #dddddd; 
}

img {
    width: 450px;
    margin: 0 20px 20px 0;
}

.img-container {
    position: relative;
    text-align: center;
    border: 1px solid #dddddd;
    margin: 5%;
    padding: 2%;
}

.img-container:hover {
  box-shadow: 10px 5px 5px #333333;
}
