body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Tenor Sans', sans-serif;
  color: #3a3b3d;
}

h1 {
  /* font-family: 'Quicksand', sans-serif; */
  font-size: 3em;
  color: #191a1c;
  opacity: 0.7;
}

.white-heading {
  color: #edeff2;
}

section {
  height: 25vw;
  width: 100vw;
}

.section-content {
  width: 50vw;
  margin-left: 15%;
}

.section-one {
  height: 35vw;
  background: #1f2021 url("../images/photo.jpg") no-repeat center;
  background-blend-mode: overlay;
  background-size: cover;
  color: white;
}

.first-line {
  font-size: 1.2em;
  letter-spacing: 1px;
}

.section-two {
  background-color: #edeff2;
  height: 50vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.screenshots {
  width: 30vw;
  border: 2px solid #3f6aaf;
  border-radius: 20px;
}

.float-container {
  width: 90vw;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.floats {
  float: left;
  margin: 3.5%;
}

header {
  width: 100vw;
  min-height: 5vw;
  border-bottom: 3px solid #3f6aaf;
}

 .nav-list {
   list-style-type: none;
 }

 .nav-list li {
   display: inline;
   margin-right: 5px;
   text-transform: uppercase;
 }

 /* link styling */

 a {
   text-decoration: none;
 }

 .link-style {
   color: #3f6aaf;
 }

 p {
   line-height: 1.6;
   font-size: 18px;
 }

.footer {
  background-color: #3f6aaf;
  color: white;
  text-align: center;
  border-top: 3px solid #1f2021;
}

.footer-list {
  list-style-type: none;
}

.footer-list li {
  display: inline;
}

.footer-list li a {
  color: white;
}

.footer-greeting {
  color: #edeff2;
  opacity: 0.7;
}
